* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
  margin: 0;
  overflow-x: hidden;
}

header {
  height: 15vh;
  background: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .box h2 {
  padding: 1rem;
  background: blue;
}

.container {
  width: 80%;
  height: 100%;
  background: #f6f6f6;
  margin: 0 auto;
  padding: 1.5rem;
  display: flex;
}

#main-section {
  margin: 1.5rem 0;
  width: 100vw;
  height: 80vh;
  display: flex;
}

#selection-box {
 height: 100%;
 width: 22.5%;
 background: #eaeaea;
 display: flex;
 padding: .5rem;
 flex-direction: column;
 position: relative;
}

#selection-head {
  margin: 0 auto;
  text-align: center;
  height: 7.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#selection-head h3 {
  margin: 0;
  margin-top: .5rem;
  font-size: 1.25rem;
  font-weight: 1;
}

#selection-list {
  height: 82.5%;
  margin-bottom: 1.35rem;
}

#selection-list ul {
  height: 100%;
  width: 100%;
  list-style: none;
  padding: 0;
  border: 1px solid #aaa;
  border-radius: 5px;
  overflow-y: scroll;
}

#selection-list ul a {
  text-decoration: none;
  color: inherit;
  
}

#selection-list ul a:hover li{
  background: lightblue;
}

#selection-list ul li {
  padding: .75rem;
  background: #f2f2f2;
  margin-bottom: .1rem;
  transition: all .2s ease-in-out;
}

#selection-box #search-button {
  text-align: center;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#selection-box #search-button a {
  text-decoration: none;
  text-align: center;
  padding: .75rem 40%;
  color: inherit;
  background: lightblue;
}

#map-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 77.5%;
}

#map-box iframe {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

footer {
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  height: 50px;
}

footer .footer-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: right;
}

footer .footer-container p {
  margin: 0;
  font-size: .75rem;
}