/* Reset and Font */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
  margin: 0;
  overflow-x: hidden;
}

/* Header */

header {
  height: 15vh;
  background: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .box h2 {
  padding: 1rem;
  background: #3498db;
  color: white;
}

/* Utility */

.container {
  width: 80%;
  height: 100%;
  background: #f6f6f6;
  margin: 0 auto;
  padding: 1.5rem;
  display: flex;
}

/* Main Section */

#main-section {
  margin: 1.5rem 0;
  width: 100vw;
  height: 80vh;
  display: flex;
}

/* Selection Box */
#selection-box {
 height: 100%;
 width: 22.5%;
 background: #eaeaea;
 display: flex;
 padding: .5rem;
 flex-direction: column;
 position: relative;
}

#selection-head {
  margin: 0 auto;
  text-align: center;
  height: 7.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#selection-head h3 {
  margin: 0;
  margin-top: .5rem;
  font-size: 1.25rem;
  font-weight: 1;
}

/* Selection List */
#selection-list {
  height: 82.5%;
  margin-bottom: 1.35rem;
}

#selection-list ul {
  height: 100%;
  width: 100%;
  list-style: none;
  padding: 0;
  border: 1px solid #aaa;
  border-radius: 5px;
  overflow-y: scroll;
}

#selection-list ul li {
  cursor: pointer;
  position: relative;
}

#selection-list ul li {
  /* padding: .75rem; */
  background: #f2f2f2;
  margin-bottom: .1rem;
  transition: all .2s ease-in-out;
}

#selection-list ul li:hover {
  background: #3498db;
  color: white;
}



#selection-list ul li p {
  padding: .75rem;
  margin: 0;
  transition: all .2 ease-in-out;
}

#selection-list ul li .option {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  padding: 100%;
  opacity: 0;
}

#selection-list ul li .option + p {
  transition: all .2s ease-in-out;
}

#selection-list ul li .option:not(:checked) + p {
  transition: all .2s ease-in-out;
}

#selection-list ul li .option:checked + p {
  color: #fff;
  background:#0063B1;
}

#selection-box #search-button {
  text-align: center;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#selection-box #search-button #submit-button {
  text-decoration: none;
  border-radius: 5px;
  border: white 1px solid;
  font-size: 1rem;
  text-align: center;
  padding: .75rem 40%;
  color: #fff;
  background: #3498db;
  transition: all .2s ease-in-out;
}

#selection-box #search-button #submit-button:hover {
  background: #0063B1;
}

/* Map */

#map-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 77.5%;
}

#map-box iframe {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

/* Footer */
footer {
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  height: 50px;
}

footer .footer-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: right;
}

footer .footer-container p {
  margin: 0;
  font-size: .75rem;
}